<a name="about"><div id="about"></a>
	<div class="container ">
		<div class="row">
			<div class="span12">
					<h1>ABOUT</h1>
					<h2>個人經歷</h2>
					<hr>			
			</div>
				<div class="span7">
					<h2>簡介</h2>
					<p>
						由於本身是cosplay的扮演者，經由這個喜好，去研究如何製作
						<br>
						自己喜歡的角色道具。自己也是美術系出生的，對這方面的製作也稍有了解，剛開始以製作自己需要的道具為主，但經由多次製作以及跟相同興趣的愛好者討論後，對於這方面製作有更多的了解。真正開始接單是在當完兵後，
						<br>
						當初剛開始也是幫朋友友情贊助，朋友看到後覺得效果不錯，所以就幫忙我在cosplay的好友中宣傳，藉由這個機會開始慢慢的有訂單的製作。
						<br>
						目前在這圈子接單製作也有四年的經歷了。
					</p>
					
						<img src="images/about-img/1.jpg" />
						<img src="images/about-img/2.jpg" />
						<img src="images/about-img/3.jpg" />
					
				</div>	
				<div class="span5">
					<img class="img-rounded" src="images/coser.jpg" alt="">
				</div>
			</div>	
					
				
		
	</div>
</div>




<!--  <div id="test2">
	<a href="">test</a>
	<a href="">test2</a>
	<h1>aetweasf</h1>
</div>

<script type='text/javascript'>
$(function(){
　$(window).load(function(){
　　$(window).bind('scroll resize', function(){
　　var $this = $(this);
　　var $this_Top=$this.scrollTop();

　　//當高度小於300時，關閉區塊 
　　if($this_Top < 50){
　　　$('#test2').stop().animate({top:"-100px"});
　　　}
　　　　if($this_Top > 200){
　　　　$('#test2').stop().animate({top:"0px"});
　　　 }
　　}).scroll();
　});
});
</script> 
 -->