<a name="contact"><div id="contact"></a>
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>CONTACTS</h1>
				<h2>聯絡方式</h2>
				<hr>	
				<ul>
					<li>林敏欽</li>
					<li>tel:07-5713-923</li>
					<li>cell:0952-783-171</li>
					<li>email:jimg1229＠yahoo.com.tw</li>
					<li>address:高雄市旗津區商港街14巷24弄12號</li>
				</ul>	
			</div>
		</div>
	</div>
</div>