<a name="design"><div id="design"></a>
	<div class="container">
		<div class="row">

			<div class="span12">
				<h1>DESIGN</h1>
				<h2>週邊商品設計</h2>
				<hr>
				
			</div><!-- pan12 -->
	
			<div class="span12">
				<div id="myCarousel" class="carousel slide">
				  <ol class="carousel-indicators">
				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#myCarousel" data-slide-to="1"></li>
				    <li data-target="#myCarousel" data-slide-to="2"></li>
				    <li data-target="#myCarousel" data-slide-to="3"></li>
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item"><img src="images/design-img/poster.jpg" alt=""></div>
				    <div class="item"><img src="images/design-img/dm.jpg" alt=""></div>
				    <div class="item"><img src="images/design-img/business-card.jpg" alt=""></div>
				    <div class="item"><img src="images/design-img/tag.jpg" alt=""></div>
				  </div>
				  <!-- Carousel nav -->
				
				</div>
			</div><!-- span12 -->
		</div>
	</div>
</div>

<script>
	$('.carousel').carousel({
  interval: 2000
})


</script>