
<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/styles.css">
	<link rel="stylesheet" href="stylesheets/colorbox.css">
	<link rel="stylesheet" href="stylesheets/ihover.css">
	
	<script src="javascripts/jquery-1.10.2.min.js"></script>
	<script src="javascripts/jquery-orzScroll.js"></script>	
	<script src="javascripts/jquery.colorbox-min.js"></script>
	<script src="javascripts/jquery.colorbox-zh-TW.js"></script>
	<script src="javascripts/modernizr.custom.js"></script>
	<script src="javascripts/bootstrap-collapse.js"></script>
	<script src="javascripts/bootstrap-carousel.js"></script> 
	<script src="javascripts/bootstrap-transition.js"></script>
	<script src="javascripts/bootstrap-dropdown.js"></script>
	<script src="javascripts/bootstrap-scrollspy.js"></script>
	<script src="javascripts/bootstrap-popover.js"></script>
	<meta charset="UTF-8">
	<title>NINJA</title>
</head>
<body data-spy="scroll" data-target="#menu">	
	<div  id="menu" class="navbar">
		<div class="navbar">
			<div class=" navbar-inner navbar-fixed-top ">
				<div class="container">
				   <button type="button" class="btn btn-navbar  " 
				   data-toggle="collapse" 
				   data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
					<div class="row ">
					<div class="collapse nav-collapse ">
					<div class="span4">
							<a href="index.html">
								<img  src="images/logo.png" />
							</a>
					</div>	
					<div class="span8 ">
						<ul class="nav">
							<li>
								<a data-toggle="tooltip" title="首頁" 
								href="#home">HOME</a>
							</li>
							<li>
								<a data-toggle="tooltip" title="關於"href="#about">ABOUT</a>
							</li>
							<li>
								<a data-toggle="tooltip" title="影片" href="#video">VIDEO</a>
							</li>
							<li>
								<a data-toggle="tooltip" title="作品" href="#photos">PHOTOS</a>
							</li>
							<li>
								<a data-toggle="tooltip" title="擴增實境" href="#ar">AR VIEW</a>
							</li>
							<li>
								<a data-toggle="tooltip" title="設計" href="#design">DESIGN</a>
							</li>
							<li>
								<a data-toggle="tooltip" title="團隊" href="#team">TEAM</a>
							</li>
							<li>
								<a data-toggle="tooltip" title="聯絡方式" href="#contact">CONTACTS</a>
							</li>
							<li>
								<a data-toggle="tooltip" title="部落格" href="http://album.blog.yam.com/jimg">BLOG</a>
							</li>
						</ul>
					</div> <!-- span12-->
					</div> <!-- nav-collapse collapse -->
					</div><!-- row -->	
				</div>	<!-- container -->
			</div> 	<!-- menu -->
		</div>	<!-- navbar-inner -->
	</div> <!-- navbar -->





	
</body>
</html>
