<a name="photos"><div id="photos"></a>
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>PHOTOS</h1>
				<h2>作品集</h2>
				<hr>
				<p>
					這裡為之前幫客人所製作的道具完成圖，以下為各個動漫角色的武器製作
					，<br>上面有個簡短的製作流程解說，如有需了解者請參考上方的影片詳解，
					
				</p>
				
			</div>
			<div class="span4">
				 <div class="ih-item square effect3 bottom_to_top">
				 	<a class="group1" href="images/photos-big/6.jpg" title="作品集">
				 	<div class="img">
        				<img src="images/photos/1.jpg"/>
        			</div>
        			<div class="info">
          				<h3>吾命騎士</h3>
        			</div>
    				</a>
					</div>
			</div>
			<div class="span4">
				 <div class="ih-item square effect3 bottom_to_top">
				 	<a class="group1" href="images/photos-big/1.jpg" title="作品集">
        			<div class="img">
        				<img src="images/photos/2.jpg" />
        			</div>
        			<div class="info">
          				<h3>刀劍神域</h3>
        			</div>
    				</a>
					</div>			
			</div>
			<div class="span4">
				 <div class="ih-item square effect3 bottom_to_top">
				 	<a class="group1" href="images/photos-big/2.jpg" title="作品集">
				 	<div class="img">
        			<img src="images/photos/3.jpg" />
        		</div>
        			<div class="info">
          				<h3>女神異聞錄</h3>          				
        			</div>
    				</a>
					</div>
			</div>
				<div class="span4">
				 <div class="ih-item square effect3 bottom_to_top">
				 	<a class="group1" href="images/photos-big/3.jpg" title="作品集">
				 	<div class="img">
        			<img src="images/photos/4.jpg" />
        		</div>
        			<div class="info">
          				<h3>王國之心</h3>          				
        			</div>
    				</a>
					</div>
			</div>
				<div class="span4">
				 <div class="ih-item square effect3 bottom_to_top">
				 	<a class="group1" href="images/photos-big/10.jpg" title="作品集">
				 	<div class="img">
        			<img src="images/photos/10.jpg" />
        		</div>
        			<div class="info">
          				<h3>噬魂者--劍神</h3>          				
        			</div>
    				</a>
					</div>
			</div>
			
			<div class="span4">
				 <div class="ih-item square effect3 bottom_to_top">
				 	<a class="group1" href="images/photos-big/5.jpg" title="作品集">
				 	<div class="img">
        			<img src="images/photos/6.jpg" />
        		</div>
        			<div class="info">
          				<h3>吾命騎士</h3>          				
        			</div>
    				</a>
					</div>
			</div>
			
			<div class="span4">
				 <div class="ih-item square effect3 bottom_to_top">
				 	<a class="group1" href="images/photos-big/7.jpg" title="作品集">
				 	<div class="img">
        			<img src="images/photos/7.jpg" />
        		</div>
        			<div class="info">
          				<h3>特殊傳說</h3>          				
        			</div>
    				</a>
					</div>
			</div>
			
			<div class="span4">
				 <div class="ih-item square effect3 bottom_to_top">
				 	<a class="group1" href="images/photos-big/8.jpg" title="作品集">
				 	<div class="img">
        			<img src="images/photos/8.jpg" />
        		</div>
        			<div class="info">
          				<h3>噬魂者--黑星</h3>          				
        			</div>
    				</a>
					</div>
			</div>
			
			<div class="span4">
				 <div class="ih-item square effect3 bottom_to_top">
				 	<a class="group1" href="images/photos-big/9.jpg" title="作品集">
				 	<div class="img">
        			<img src="images/photos/9.jpg" />
        		</div>
        			<div class="info">
          				<h3>噬神戰士</h3>          				
        			</div>
    				</a>
					</div>
			</div>
		</div>
	</div>
</div>



<script>
			$(document).ready(function(){
				//Examples of how to assign the Colorbox event to elements
				$(".group1").colorbox({rel:'group1'});
				$(".group2").colorbox({rel:'group2', transition:"fade"});
				$(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
				$(".group4").colorbox({rel:'group4', slideshow:true});
				$(".ajax").colorbox();
				$(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
				$(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
				$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
				$(".inline").colorbox({inline:true, width:"50%"});
				$(".callbacks").colorbox({
					onOpen:function(){ alert('onOpen: colorbox is about to open'); },
					onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
					onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
					onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
					onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
				});

				$('.non-retina').colorbox({rel:'group5', transition:'none'})
				$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
				
				//Example of preserving a JavaScript event for inline calls.
				$("#click").click(function(){ 
					$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
					return false;
				});
			});
		</script>