<a name="team"><div id="team"></a>
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>TEAM</h1>
				<h2>設計團隊</h2>
				<hr>
			
				<h5>本小組團隊，以負責協助cosplay道具業者業績提升之行銷企劃，
					所擬定的執行企劃。
					<br>我們首先幫業者打造一個專屬的ＬＯＧＯ，
					製作專屬的ＣＩＳ（企業識別），且執行ＣＩＳ週邊商品設計。
					<br>並打造個人專屬網站，且採用最新的ＡＲ（擴增實鏡）技術
					導入週邊商品，使我們的週邊商品可與客人互動的效果，
					使人增加對產品的印象。
					<br>且ＡＲ（擴增實境）能呈現商品的虛擬3D模型，
					使產品不再只是以往的產品照宣傳，而是能達到更趨近於實體的觀看效果。
					<br>甚至藉由智慧型行動裝置的盛行，
					把我們的ＡＲ（擴增實境）倒入Android行動裝置，
					只需下載ＡＰＰ就能啟動ＡＲ（擴增實境），達到更有效且另類的行銷效果。
					


				</h5>
			</div><!-- span12 -->
	<div class="span4">
		<button  class=" team-button" data-toggle="collapse" data-target="#text-team">
		<img class="img-circle" src="images/team-img/06.jpg" />
	 	</button>
	<div id="text-team" class="collapse in">
		<h3>葉佳駿</h3>
		<p>james22214@gmail.com</p>
	</div><!-- text-team -->
	</div><!-- span4 -->

	<div class="span4">
		<button  class="team-button" data-toggle="collapse" data-target="#text-team2">
		<img class="img-circle" src="images/team-img/02.jpg" />
	 	</button>
	<div id="text-team2" class="collapse in">
		<h3>陳冠宏</h3>
		<p>A990C106@gmail.com</p>
	</div><!-- text-team -->
	</div><!-- span4 -->

	<div class="span4">
		<button  class="team-button" data-toggle="collapse" data-target="#text-team3">
		<img class="img-circle" src="images/team-img/03.jpg" />
	 	</button>
	<div id="text-team3" class="collapse in">
		<h3>楊仁鴻</h3>
		<p>look-789@yahoo.com.tw</p>
	</div><!-- text-team -->
	</div><!-- span4 -->
	</div><!-- row -->
	<div class="row">
	<div class="span4">
		<button  class=" team-button" data-toggle="collapse" data-target="#text-team4">
		<img class="img-circle" src="images/team-img/04.jpg" />
	 	</button>
	<div id="text-team4" class="collapse in">
		<h3>蘇保嘉</h3>
		<p>c122330@yahoo.com.tw</p>
	</div><!-- text-team -->
	</div><!-- span4 -->

	<div class="span4">
		<button  class="team-button" data-toggle="collapse" data-target="#text-team5">
		<img class="img-circle" src="images/team-img/05.jpg" />
		 </button>
	<div id="text-team5" class="collapse in">
		<h3>黃造榜</h3>
		<p>zx1239567@yahoo.com.tw</p>
	</div><!-- text-team -->
	</div><!-- span4 -->

	<div class="span4">
		<button  class="team-button" data-toggle="collapse" data-target="#text-team6">
		<img class="img-circle" src="images/team-img/01.jpg" />
	 	</button>
	<div id="text-team6" class="collapse in">
		<h3>翁名宏</h3>
		<p>sorvi893@yahoo.com.tw</p>
	</div><!-- text-team -->
	</div><!-- span4 -->
	</div><!-- row -->		
	</div><!-- container -->
	</div><!-- team -->



<script>
	
		$('#text-team').collapse('hide')

		$('#text-team2').collapse('hide')

		$('#text-team3').collapse('hide')

		$('#text-team4').collapse('hide')

		$('#text-team5').collapse('hide')

		$('#text-team6').collapse('hide')
  			

</script>
